---
export interface Props {}
---
<section class="mb-8 relative z-0">
  <div class="flex justify-center items-center bg-cover bg-center min-h-[96vh]" style="background-image: url('../public/imagen-temporal.jpg')">
    <div class="absolute inset-0 bg-black/80 pointer-events-none"></div>
    <div class="relative z-10 max-w-3xl text-center flex flex-col items-center gap-8 px-4 ">
      <h1 class="text-white font-bold !text-[3.5rem]">Collection is here</h1>
      <p class="text-white text-lg">
        The time is now for it to be okay to be great. People in this world 
        shun people for being great. For being a bright color. For standing out.
      </p>
      <button class="bg-white text-gray-600 py-[12px] px-[10%] rounded font-semibold  hover:!bg-gray-300 transition">
        Explore New Collection
      </button>
    </div>
  </div>
</section>
<div class="max-w-screen-2xl   mx-auto my-12 px- 4 mb-8">
  <div class="block text-center mb-12">
    <h3 class="text-xl !font-bold mb-2 " >Shop by category</h3>
    <a href="#" class="!text-gray-800 font-semibold !no-underline">
      Browse all categories &gt;
    </a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-12">
    
    <div class="relative  bg-cover bg-center rounded-lg flex flex-col items-center justify-end h-124 p-6 " style="background-image: url('https://picsum.photos/id/237/800/500') ; ">
          <div class="absolute inset-0 bg-black/40 rounded-lg"></div>

      <p class="text-white font-bold mb-1 z-10">Pre-fall</p>
      <h4 class="text-white font-extrabold z-10">Silk Dresses</h4>
      <a href="#" class="text-white text-sm font-medium mt-2 hover:underline z-10">See products &gt;</a>
    </div>
    
    <div class="relative bg-cover bg-center rounded-lg flex flex-col items-center justify-end h-124 p-6" style="background-image: url('https://picsum.photos/id/237/800/500');">
                  <div class="absolute inset-0 bg-black/40 rounded-lg"></div>

      <p class="text-white font-bold mb-1 z-10">Designers</p>
      <h4 class="text-white font-extrabold z-10">Suits</h4>
      <a href="#" class="text-white text-sm font-medium mt-2 hover:underline z-10">See products &gt;</a>
    </div>
    <div class="relative bg-cover bg-center rounded-lg flex flex-col items-center justify-end h-124 p-6" style="background-image: url('https://picsum.photos/id/237/800/500');">
      <div class="absolute inset-0 bg-black/40 rounded-lg"></div>

      <p class="text-white font-bold mb-1 z-10">Summer</p>
      <h4 class="text-white font-extrabold z-10">Festival</h4>
      <a href="#" class="text-white text-sm font-medium mt-2 hover:underline z-10">See products &gt;</a>
    </div>
    <div class="relative bg-cover bg-center rounded-lg flex flex-col items-center justify-end h-124 p-6" style="background-image: url('https://picsum.photos/id/237/800/500');">
                  <div class="absolute inset-0 bg-black/40 rounded-lg"></div>

      <p class="text-white font-bold mb-1 z-10">Sale</p>
      <h4 class="text-white font-extrabold z-10">Showroom</h4>
      <a href="#" class="text-white text-sm font-medium mt-2 hover:underline z-10">See products &gt;</a>
    </div>
  </div>


  <section class="mb-8">
  <div class="relative py-10 bg-cover bg-center rounded-2xl" 
       style="background-image:url('https://picsum.photos/id/237/600/600'); min-height:45vh;">
    <div class="absolute inset-0 bg-black/60 rounded-2xl"></div>

    <div class="relative flex justify-center pt-[5%]  h-full px-4 w-full">
      <div class=" text-center  max-w-5xl w-full ">
        <h1 class="text-white text-4xl !font-bold mb-4">Basic Starter Pack</h1>
        <p class="text-white text-lg mb-6 text-[1.5rem] ">
          The time is now for it to be okay to be great. People in this world shun people for being great.
          For being a bright color. For standing out.
        </p>
        <button class="bg-white text-black font-semibold py-3 px-[6rem] !rounded-lg hover:bg-gray-200 transition">
          Explore New Collection
        </button>
      </div>
    </div>
  </div>
</section>

</div>



