---
export interface Props {}
---
<section class="mb-8 relative z-0">
  <div class="flex justify-center items-center bg-cover bg-center min-h-[96vh]" style="background-image: url('../public/imagen-temporal.jpg')">
    <div class="absolute inset-0 bg-black/80 pointer-events-none"></div>
    <div class="relative z-10 max-w-3xl text-center flex flex-col items-center gap-8 px-4 ">
      <h1 class="text-white font-bold !text-[3.5rem]">Collection is here</h1>
      <p class="text-white text-lg">
        The time is now for it to be okay to be great. People in this world 
        shun people for being great. For being a bright color. For standing out.
      </p>
      <button class="bg-white text-gray-600 py-[12px] px-[10%] rounded font-semibold  hover:!bg-gray-300 transition">
        Explore New Collection
      </button>
    </div>
  </div>
</section>




